<h1>New Entry</h1>

<form action="/entries" method="post">
  <p>
    <label for="title">City Name</label>
    <input type="text" name="title">
  </p>

  <p>
    <label for="description">description</label>
    <input type="text" name="description">

    <label for="posted_on">posted_on</label>
    <input type="date" name="posted_on">
  </p>


<p>
    <input type="hidden" name="place_id" value="<%= @entry["place_id"] %>">
</p>

  <button>Submit</button>
</form>